#scroll-behavior-header-bg {
  position: absolute;
  bottom: 80px;
}

#scroll-behavior-main-underline-bg {
  position: absolute;
  bottom: -80px;
}

#scroll-smooth-position {
  position: absolute;
  bottom: -42vh;
}

#scroll-behavior-hero-statement-color {
  position: absolute;
  top: 20vh;
}
