#scroll-behaviour-behaviour {
  position: absolute;

  &.hero-scrollable {
    bottom: 80px;
  }

  &.hero {
    top: 2vh;
  }
}

#scroll-behaviour-main-underline-bg {
  position: absolute;
  bottom: -80px;
}

#scroll-smooth-position {
  position: absolute;
  bottom: -50vh;
}

#scroll-behaviour-hero-statement-color {
  position: absolute;
  &.hero-scrollable {
    top: 10vh;
  }
  &.hero {
    top: 0vh;
  }
}

#scroll-behaviour-header-nav-color {
  position: absolute;
  &.hero-scrollable {
    top: 20vh;
  }
  &.hero {
    top: 0vh;
  }
  &.page {
    top: 0vh;
  }
}

.hero-chevron-container.has-animation {
  transition: all 0.8s;
  transform: translateY(0);
}

body.scroll-behaviour-header-nav-color .hero .hero-chevron-container.has-animation {
  transform: translateY(-400px);
  opacity: 0;
}

.hero-icon-container.has-animation {
  transition: all 0.5s;
  opacity: 0;
  transform: scale(0);
  top: 0;
  cursor: pointer;
  @include media(">medium") {
    top: 25%;
  }
}

.hero-figure:hover a .img-container .hero-icon-container.has-animation {
  opacity: 1;
  transform: scale(0.5);
  top: 0;
  @include media(">small") {
    transform: scale(0.6);
    top: 15%;
  }
  @include media(">medium") {
    transform: scale(0.9);
    top: 27%;
  }
  @include media(">large") {
    transform: scale(1.7);
    top: 27%;
  }
}

body.scroll-behaviour-play-on .hero .hero-icon-container.has-animation {
  opacity: 1;
  transform: scale(0.5);
  top: 0;
  @include media(">small") {
    transform: scale(0.6);
    top: 15%;
  }
  @include media(">medium") {
    transform: scale(0.9);
    top: 27%;
  }
  @include media(">large") {
    transform: scale(1.7);
    top: 27%;
  }
}

body.scroll-behaviour-play-off .hero .hero-icon-container.has-animation {
  top: 0;
  transform: scale(0);
  @include media(">small") {
    top: 15%;
  }
  @include media(">medium") {
    top: 27%;
  }
}
