#scroll-behavior-header-bg {
  position: absolute;

  &.hero-scrollable {
    bottom: 80px;
  }

  &.hero {
    top: 2vh;
  }
}

#scroll-behavior-main-underline-bg {
  position: absolute;
  bottom: -80px;
}

#scroll-smooth-position {
  position: absolute;
  bottom: -42vh;
}

#scroll-behavior-hero-statement-color {
  position: absolute;
  &.hero-scrollable {
    top: 20vh;
  }
  &.hero {
    top: 0vh;
  }
}
