// HOME
// change color header_nav_li light to white
body.scroll-behavior-hero-statement-color .header-nav a:not(.button) {
    @include vendor-prefix(transition-duration, 2s);

    color: color-bg(bg-color);

    // change color header_nav_li underline light to primary color
    &::after {
        @include vendor-prefix(transition-duration, 2s);

        background-color: color-bg(primary);
    }
}

// change color header_nav_li dark
body:not(.scroll-behavior-hero-statement-color) .header-nav a:not(.button) {
    @include vendor-prefix(transition-duration, 2s);

    color: color(heading);
}

// change header_logo light
body.scroll-behavior-header-bg .brand-image {
    background-image: url("./../../../../../public/images/logo-teclead-wt.svg");
}

// change bg header background dark
body.scroll-behavior-header-bg .site-header {
    background: color-bg(header-dark);
}

// change bg header background dark
body.off-nav-is-active .site-header {
    background: color-bg(header-dark);
}

// add top-padding to the lang button
body.off-nav-is-active .button-language {
    margin-top: $button-language--padding-t;
}

// change color header_nav_li light
body.off-nav-is-active .header-nav a:not(.button) {
    @include vendor-prefix(transition-duration, 2s);
    color: color-bg(bg-color);
}

// change header_logo light
body.off-nav-is-active .brand-image {
    background-image: url("./../../../../../public/images/logo-teclead-wt.svg");
}

// PAGES
// change bg header background dark
body.scroll-behavior-hero-statement-color-pages .site-header {
    background: color-bg(menu-mobile);
}

// change color header_nav_li light
body.scroll-behavior-hero-statement-color-pages .header-nav a:not(.button) {
    @include vendor-prefix(transition-duration, 2s);

    color: color-bg(bg-color);

    // change color header_nav_li underline light to primary color
    &::after {
        @include vendor-prefix(transition-duration, 2s);

        background-color: color-bg(primary);
    }
}

// change header_logo light
body.scroll-behavior-hero-statement-color-pages .brand-image {
    background-image: url("./../../../../../public/images/logo-teclead-wt.svg");
}
