.cookies {
  &__checkbox {
    &__label {
      padding: $cookies-label--padding;
      width: $cookies-label--width;

      position: fixed;
      top: -100%;
      background: color-bg(cookies);

      transition: 1s all ease-out;
      cursor: pointer;
      z-index: 11;
    }

    &__button {
      z-index: 2;
      margin: 1rem;
      float: right;
      background: get-color(secondary, 3);
    }

    &__text {
      width: $cookies-text--width;
    }

    body.scroll-behaviour-cookies &__label {
      top: 0;
    }
  }

  &__checkbox {
    display: none;

    &:checked ~ &__label {
      top: -100%;
    }
  }
}
