.cookies {
  &__checkbox {
    &__label {
      position: fixed !important;
      top: -100%;

      @include vendor-prefix(transition, 1s all ease-out);
      cursor: pointer;
      z-index: 1000 !important;
    }

    &__button {
      z-index: 2;
      float: right;
    }

    body.scroll-behaviour-cookies &__label {
      top: 0;
    }
  }

  &__checkbox {
    display: none;

    &:checked ~ &__label {
      top: -100%;
    }
  }
}
