.site-header {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 10;
  background: color-bg(header-dark);

  @include vendor-prefix(transition, 0.3s all linear);

  + .site-content {
    .section:first-of-type {
      padding-top: $header-height__mobile;
    }
  }
}

.brand {
  margin-right: $header-nav--padding-h;

  &-image {
    background-image: url("./../../../../../public/images/logo-teclead-bk.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 30px;
    @include vendor-prefix(transition, 0.3s all linear);
  }

  a {
    svg {
      fill: color-icon(logo);
      @include vendor-prefix(transition, fill 0.15s ease);

      .invert-color & {
        fill: color-icon(social-inverse);
      }
    }

    &:hover {
      svg {
        fill: color-icon(logo-hover);

        .invert-color & {
          fill: color-icon(social-hover-inverse);
        }
      }
    }
  }
}

.site-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height__mobile;
}

.header-nav {
  flex-grow: 1;

  .header-nav-inner {
    display: flex;
    flex-grow: 1;
  }

  ul {
    display: flex;
    align-items: center;
    flex-grow: 1;
    white-space: nowrap;
    margin-bottom: 0;

    // &:first-of-type {
    //   flex-wrap: wrap;
    // }
  }

  li {
    + .header-button {
      margin-left: $header-nav--padding-h;
    }
  }

  a:not(.header-smooth-scroll) {
    display: block;
    @include anchor-aspect(header);
    @include font-weight(header-link);
    text-transform: $link-header--transform;
    padding: 0 $header-nav--padding-h__tablet;

    &::after {
      margin-top: 0.22em;
      margin-bottom: 0.3em;
      padding-top: 0.31em;
      width: 12px;
      border-radius: 0 $img-radius $img-radius 0;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }

    &.active-link {
      &::after {
        width: 100%;
        background-color: color-bg(button-primary-hover);
      }
    }

    .invert-color & {
      @include anchor-aspect(header, inverse);
    }
  }

  @include media(">large") {
    a:not(.button) {
      padding: 0 $header-nav--padding-h;
    }
  }

  a.button {
    margin-left: $header-nav--padding-h;
  }
}

.header-nav-center:first-of-type {
  flex-grow: 1;
  justify-content: flex-end;
}

.header-nav-right {
  justify-content: flex-end;

  + .header-nav-right {
    flex-grow: 0;
  }
}

.header-nav-toggle {
  display: none;
}

@include media("<=medium") {
  .header-nav-toggle {
    display: block;

    // Header navigation when the hamburger is a previous sibling
    + .header-nav {
      flex-direction: column;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      z-index: 9999;
      background: color-bg(header-dark);
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      @include vendor-prefix(
        transition,
        #{max-height 0.25s ease-in-out,
        opacity 0.15s}
      );

      &.is-active {
        opacity: 1;
      }

      .header-nav-inner {
        flex-direction: column;
        padding: $header-nav--padding-v__mobile;
      }

      ul {
        display: block;
        text-align: center;

        a:not(.button) {
          @include anchor-aspect(header-mobile);
          padding-top: $header-nav--padding-v__mobile / 2;
          padding-bottom: $header-nav--padding-v__mobile / 2;
        }
      }

      a.button {
        margin-left: 0;
        margin-top: $header-nav--padding-v__mobile / 2;
        margin-bottom: $header-nav--padding-v__mobile / 2;
      }
    }
  }
}

@include media(">medium") {
  .site-header {
    + .site-content {
      .section:first-of-type {
        padding-top: $header-height__desktop;
      }
    }
  }

  .site-header-inner {
    height: $header-height__desktop;
  }
}
