.site-header {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 10;

  @include vendor-prefix(transition, 1s all linear);

  + .site-content {
    .section:first-of-type {
      padding-top: $header-height__mobile;
    }
  }

  &.dark {
    @include bg-header(dark);
    @include links(light);
    @include logo(light);
  }

  &.light {
    @include bg-header(light);
    @include links(dark);
    @include logo(dark);
  }

  &.transparent-to-dark-typo-light-to-light {
    @include bg-header-transparent-to(dark);
    @include links(light);
    @include logo(light);
  }

  &.transparent-to-dark-typo-dark-to-light {
    @include bg-header-transparent-to(dark);
    @include links(dark, light);
    @include logo(dark, light);
  }

  &.transparent-to-light-typo-dark-to-dark {
    @include bg-header-transparent-to(light);
    @include links(dark);
    @include logo(dark);
  }

  &.transparent-to-light-typo-light-to-dark {
    @include bg-header-transparent-to(light);
    @include links(light, dark);
    @include logo(light, dark);
  }
}

.main-logo {
  margin-right: $header-nav--padding-h;

  svg {
    fill: color-icon(logo);
    @include vendor-prefix(transition, fill 0.15s ease);

    .invert-color & {
      fill: color-icon(social-inverse);
    }
  }

  &:hover {
    svg {
      fill: color-icon(logo-hover);

      .invert-color & {
        fill: color-icon(social-hover-inverse);
      }
    }
  }
}

.site-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height__mobile;
}

.header-nav {
  flex-grow: 1;

  .header-nav-inner {
    display: flex;
    flex-grow: 1;
  }

  ul {
    display: flex;
    align-items: center;
    flex-grow: 1;
    white-space: nowrap;
    margin-bottom: 0;
  }

  li {
    + .header-button {
      margin-left: $header-nav--padding-h;
    }
  }

  a:not(.button) {
    display: block;
    @include font-weight(header-link);
    text-transform: $link-header--transform;
    padding: 0 $header-nav--padding-h__tablet;
    @include vendor-prefix(transition, 0.2s all ease-in-out);

    &::after {
      margin-top: 0.22em;
      margin-bottom: 0.3em;
      padding-top: 0.31em;
      width: 12px;
      border-radius: 0 $img-radius $img-radius 0;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }

    &.active-link {
      &::after {
        width: 100%;
        background-color: color-bg(underline-hover);
      }
    }

    .invert-color & {
      @include anchor-aspect(header, inverse);
    }
  }

  @include media(">large") {
    a:not(.button) {
      padding: 0 $header-nav--padding-h;
    }
  }

  a.button {
    margin-left: $header-nav--padding-h;
  }
}

.header-nav-center:first-of-type {
  flex-grow: 1;
  justify-content: flex-end;
}

.header-nav-right {
  justify-content: flex-end;

  + .header-nav-right {
    flex-grow: 0;
  }
}

.header-nav-toggle {
  display: none;
}

@include media("<=medium") {
  .header-nav-toggle {
    display: block;

    // Header navigation when the hamburger is a previous sibling
    + .header-nav {
      flex-direction: column;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      z-index: 9999;
      background: color-bg(header-dark);
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      @include vendor-prefix(transition, #{max-height 0.25s ease-in-out, opacity 0.15s});

      &.is-active {
        opacity: 1;
      }

      .header-nav-inner {
        flex-direction: column;
        padding: $header-nav--padding-v__mobile;
      }

      ul {
        display: block;
        text-align: center;

        a:not(.button) {
          @include anchor-aspect(header-mobile);
          padding-top: $header-nav--padding-v__mobile / 2;
          padding-bottom: $header-nav--padding-v__mobile / 2;
        }
      }

      a.button {
        margin-left: 0;
        margin-top: $header-nav--padding-v__mobile / 2;
        margin-bottom: $header-nav--padding-v__mobile / 2;
      }
    }
  }
}

@include media(">medium") {
  .site-header {
    + .site-content {
      .section:first-of-type {
        padding-top: $header-height__desktop;
      }
    }
  }

  .site-header-inner {
    height: $header-height__desktop;
  }
}
