.arrow {
  border-style: solid;
  border-width: $arrow-border-width;
  display: inline-block;
  padding: 3px;
  border-radius: $arrow-border-radius;
  cursor: pointer;
}

.arrow.right {
  @include vendor-prefix(transform, rotate(-45deg));
}

.arrow.left {
  @include vendor-prefix(transform, rotate(135deg));
}

.arrow.up {
  @include vendor-prefix(transform, rotate(-135deg));
}

.arrow.down {
  @include vendor-prefix(transform, rotate(45deg));
}

.arrow-primary {
  border-color: color-border(arrow-primary);

  &:hover {
    border-color: color-border(arrow-primary-hover);
  }
}

.arrow-secondary {
  border-color: color-border(arrow-secondary);

  &:hover {
    border-color: color-border(arrow-secondary-hover);
  }
}

.arrow-dark {
  border-color: color-border(arrow-dark);

  &:hover {
    border-color: color-border(arrow-dark-hover);
  }
}

.arrow-light {
  border-color: color-border(arrow-light);

  &:hover {
    border-color: color-border(arrow-light-hover);
  }
}
