// Background color
$cookies--bg: (
  cookies: get-color(dark, 2),
);

$cookies-label--padding: 1rem;
$cookies-label--width: 100%;
$cookies-text--width: 100%;

$bg--color: map-push($bg--color, $cookies--bg);
