// The color palette
$palette: (
    light: (
        0: #ffffff,
        1: #eceded,
        2: #9ca9b3,
        3: #717d86,
    ),
    dark: (
        0: #000000,
        1: #151719,
        2: #25282c,
        3: #33363a,
    ),
    primary: (
        1: #aac634,
        2: #d9e84d,
        3: #ceff00,
        4: #eaea71,
    ),
    secondary: (
        1: #03e3f4,
        2: #5ef3f7,
        3: #2ac4dd,
        4: #a4f5f7,
    ),
    alert: (
        error: #ff6171,
        warning: #ffa173,
        success: #24e5af,
    ),
);
