$str-typed--statement: "The Fusion of Ideas, Art and Technology.";
$str-typed--about: "- combining technical expertise, cross-industry, know-how to lead you to success -";
$str-typed: "Hey insert a string.";
