.hero-scrollable {
  .hero {
    &-divider {
      width: 100vw;
      height: 160vh;
    }

    &-arrow-container {
      position: relative;
      margin-top: 90vh;
      z-index: -1;
      display: none;
      opacity: 1;
      @include vendor-prefix(transform, translateY(0));
      @include vendor-prefix(transition, all 0.5s);
    }

    &-arrow {
      position: absolute;
      bottom: 0;
      padding: 0.7rem;
    }

    &-img {
      position: absolute;
      top: 0;
      height: 100vh;
      width: 100vw;
      background-image: linear-gradient(to bottom, rgba(#ffffff, 0.5), rgba(2, 50, 182, 0.5)),
        url("../../../../../public/images/hero-1440-800.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-illustration {
      position: absolute !important;
      width: 100vw;
      height: 100vh;
      bottom: -100vh;
    }

    &-statement {
      position: sticky;
      bottom: 6rem;

      margin: 0 2rem;
      margin-bottom: calc(6 * #{$hero-underline--height});

      width: $hero-statement--width__mobile;

      z-index: 2;

      hr {
        opacity: 0;
        position: absolute;
      }
    }

    &-about {
      position: relative;
      margin: 0 2rem;
      margin-bottom: calc(6 * #{$hero-underline--height});
      width: $hero-about--width__mobile;

      z-index: 1;

      hr {
        position: absolute;
        background-color: get-color(primary, 3);

        height: $hero-underline--height;
        width: $hero-underline-about--width__mobile;
      }

      .right-left {
        left: calc(100% - #{$hero-underline--width--right-position});
        width: $hero-underline--width--right-position;
      }
    }
  }

  @include media(">medium") {
    .hero {
      &-arrow-container {
        display: block;
      }

      &-arrow {
        right: $hero-arrow--right-position__table;
      }

      &-statement {
        width: $hero-statement--width__tablet;
        margin-bottom: calc(8 * #{$hero-underline--height});
      }

      &-about {
        width: $hero-about--width__tablet;
        margin: $hero-about--margin__tablet;
        margin-bottom: calc(8 * #{$hero-underline--height});
      }
    }
  }

  @include media(">large") {
    .hero {
      &-arrow {
        right: $hero-arrow--right-position__desktop;
      }

      &-statement {
        margin-bottom: calc(10 * #{$hero-underline--height});
      }

      &-about {
        width: $hero-about--width__desktop;
        margin-bottom: calc(10 * #{$hero-underline--height});
      }
    }
  }
}

@include keyframes-vendor-prefix(moveInLeft) {
  0% {
    opacity: 0.5;
    @include vendor-prefix(transform, translateX(-20rem));
    width: 0;
  }

  50% {
    width: 20%;
    @include vendor-prefix(transform, translateX(-5rem));
  }

  80% {
    @include vendor-prefix(transform, translateX(5rem));
    width: 60%;
  }

  100% {
    opacity: 1;
    @include vendor-prefix(transform, translateX(0));
    width: 50%;
  }
}
