.hero-typed {
    height: 100vh;

    .hero {
        &-inner {
            margin-top: 15vh;
        }

        &-arrow-container {
            text-align: center;
            margin-top: 5rem;
            opacity: 0;
            @include vendor-prefix(transition, all 0.8s);
        }

        &-arrow {
            padding: 0.7rem;
        }

        &-statement.clean-typed ~ a .hero-arrow-container {
            opacity: 1;
        }
    }

    @include media(">medium") {
        .hero {
            &-arrow-container {
                display: block;
                margin-top: 2rem;
            }

            &-arrow {
                float: right;
            }
        }
    }
}
