.hero-scrollable {
  .hero {
    &-divider {
      height: 160vh;
      width: 0;
    }

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background-image: linear-gradient(to bottom, rgba(#ffffff, 0.5), rgba(2, 50, 182, 0.5)),
        url("../../../../../public/images/hero/hero-630-400.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;

      //if the resolution is heigher than 192dpi
      @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
        (-webkit-in-device-pixel-ratio: 2) and (min-width: 37.5em),
        (min-width: 125rem) {
        background-image: linear-gradient(to bottom, rgba(#ffffff, 0.5), rgba(2, 50, 182, 0.5)),
          url("../../../../../public/images/hero/hero-1440-800.png");
      }
    }

    &-chevron-container {
      margin-top: 85vh;
      z-index: -1;
      display: none;
      opacity: 1;
      @include vendor-prefix(transform, translateY(0));
      @include vendor-prefix(transition, all 0.5s);
    }


    &-illustration {
      position: absolute !important;
      width: 100vw;
      height: 100vh;
      bottom: -100vh;
      left: 0;
    }

    &-statement {
      position: sticky;
      bottom: 6rem;

      margin: 0 2rem;
      margin-bottom: calc(5 * #{$hero-underline--height});

      width: $hero-statement--width__mobile;

      z-index: 2;

      hr {
        opacity: 0;
        position: absolute;
      }
    }

    &-about {
      position: relative;
      margin: 0 2rem;
      padding-bottom: $hero-about--padding-bottom;
      width: $hero-about--width__mobile;

      z-index: 1;

      hr {
        position: absolute;
        background-color: get-color(primary, 3);

        height: $hero-underline--height;
        width: $hero-underline-about--width__mobile;
      }

      .right-left {
        left: calc(100% - #{$hero-underline--width--right-position});
        width: $hero-underline--width--right-position;
      }
    }
  }

  @include media(">medium") {
    .hero {
      &-chevron-container {
        display: block;
      }

      &-statement {
        width: $hero-statement--width__tablet;
        margin-bottom: calc(7 * #{$hero-underline--height});
      }

      &-about {
        width: $hero-about--width__tablet;
      }
    }
  }

  @include media(">large") {
    .hero {
      &-statement {
        margin-bottom: calc(8 * #{$hero-underline--height});
      }

      &-about {
        width: $hero-about--width__desktop;
      }
    }
  }
}

@include keyframes-vendor-prefix(moveInLeft) {
  0% {
    opacity: 0.5;
    @include vendor-prefix(transform, translateX(-20rem));
    width: 0;
  }

  50% {
    width: 20%;
    @include vendor-prefix(transform, translateX(-5rem));
  }

  80% {
    @include vendor-prefix(transform, translateX(5rem));
    width: 60%;
  }

  100% {
    opacity: 1;
    @include vendor-prefix(transform, translateX(0));
    width: 50%;
  }
}
