.hero-typed {
  height: 100vh;

  .hero {
    &-arrow-container {
      text-align: center;
      margin-top: 5rem;
    }

    &-arrow {
      padding: 0.7rem;
    }

    // initial state-about and arrow
    &-about,
    &-arrow-container i {
      opacity: 0;
      display: none;
    }
    // set delay
    &-about {
      @include vendor-prefix(transition, opacity 1.5s linear 0.2s);
    }
    // set delay
    &-arrow-container i {
      @include vendor-prefix(transition, opacity 1.5s linear 0.7s);
    }

    // display about invisible
    &-statement.is-typed ~ .hero-about {
      display: block;
    }
    // display arrow invisible
    &-statement.is-typed ~ a .hero-arrow-container i {
      display: inline-block;
    }
    // display about visible
    &-statement.clean-typed ~ .hero-about {
      opacity: 1;
    }
    &-statement.clean-typed ~ a .hero-arrow-container i {
      opacity: 1;
    }
  }

  @include media(">medium") {
    .hero {
      &-arrow-container {
        margin-top: 2rem;
      }

      &-arrow {
        float: right;
      }
    }
  }
}