.hero-typed {
  height: 100vh;

  .hero {
    &-chevron-container {
      text-align: center;
      margin-top: 5rem;
    }

    // initial state-about and chevron
    &-about,
    &-chevron-container i {
      opacity: 0;
      display: none;
    }
    // set delay
    &-about {
      @include vendor-prefix(transition, opacity 1.5s linear 0.2s);
    }
    // set delay
    &-chevron-container i {
      @include vendor-prefix(transition, opacity 1.5s linear 0.7s);
    }

    // display about invisible
    &-statement.is-typed ~ .hero-about {
      display: block;
    }
    // display chevron invisible
    &-statement.is-typed ~ a .hero-chevron-container i {
      display: inline-block;
    }
    // display about visible
    &-statement.clean-typed ~ .hero-about {
      opacity: 1;
    }
    &-statement.clean-typed ~ a .hero-chevron-container i {
      opacity: 1;
    }
  }

  @include media(">medium") {
    .hero {
      &-chevron-container {
        margin-top: 3rem;
      }
    }
  }
}