// Statement Initial Animation
#scroll-behavior-main-underline-bg.loaded-none
  ~ [class*="container"]
  .hero-statement
  .underline-has-animation {
  animation: moveInLeft 1.5s 0.5s ease-out;
  animation-fill-mode: forwards;
}

// Statement Animation from LEFT to RIGHT
#scroll-behavior-header-bg.loaded ~ [class*="container"] .hero-statement hr {
  @include underline-left-right(50%);
}

// Statement Animation from RIGHT to LEFT
#scroll-behavior-main-underline-bg.loaded
  ~ [class*="container"]
  .hero-statement
  hr {
  body:not(.scroll-behavior-header-bg) & {
    @include underline-right-left(50%, 2s, dark, 5ms);
  }
}

@include media(">medium") {
  // Statement Animation from LEFT to RIGHT
  #scroll-behavior-header-bg.loaded ~ [class*="container"] .hero-statement hr {
    @include underline-left-right($hero-about--width__tablet);
  }

  // Statement Animation from RIGHT to LEFT
  #scroll-behavior-main-underline-bg.loaded
    ~ [class*="container"]
    .hero-statement
    hr {
    body:not(.scroll-behavior-header-bg) & {
      @include underline-right-left(50%, 2s, dark, 5ms);
    }
  }
}

@include media(">large") {
  // Statement Animation from LEFT to RIGHT
  #scroll-behavior-header-bg.loaded ~ [class*="container"] .hero-statement hr {
    @include underline-left-right($hero-about--width__desktop);
  }

  // Statement Animation from RIGHT to LEFT
  #scroll-behavior-main-underline-bg.loaded
    ~ [class*="container"]
    .hero-statement
    hr {
    body:not(.scroll-behavior-header-bg) & {
      @include underline-right-left($hero-about--width__desktop, 2s, dark, 5ms);
    }
  }
}

// About Animation from LEFT to RIGHT
#scroll-behavior-header-bg.loaded ~ [class*="container"] .hero-about hr {
  @include underline-left-right(50%, 2s, 1s);
}

// About Animation from RIGHT to LEFT
#scroll-behavior-main-underline-bg.loaded
  ~ [class*="container"]
  .hero-about
  hr {
  body:not(.scroll-behavior-header-bg) & {
    @include underline-right-left(50%, 2s, dark, 5ms);
  }
}

.hero {
  &-divider {
    width: 100vw;
    height: 160vh;
  }

  &-img {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
        to bottom,
        rgba(#ffffff, 0.5),
        rgba(0, 0, 255, 0.5)
      ),
      url("../../../../../public/images/hero-1440-800.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-statement {
    position: sticky;
    bottom: 6rem;

    margin: 0 2rem;
    margin-bottom: calc(6 * #{$hero-underline--height});

    width: $hero-statement--width__mobile;

    z-index: 2;

    hr {
      opacity: 0;
      position: absolute;
    }
  }

  &-about {
    position: relative;
    margin: 0 2rem;
    margin-bottom: calc(6 * #{$hero-underline--height});
    width: $hero-about--width__mobile;

    z-index: 1;

    hr {
      position: absolute;
      background-color: get-color(primary, 3);

      height: $hero-underline--height;
      width: $hero-underline-about--width__mobile;
    }
  }
}

@include media(">medium") {
  .hero {
    &-statement {
      width: $hero-statement--width__tablet;
      margin-bottom: calc(8 * #{$hero-underline--height});
    }

    &-about {
      width: $hero-about--width__tablet;
      margin: $hero-about--margin__tablet;
      margin-bottom: calc(8 * #{$hero-underline--height});
    }
  }
}

@include media(">large") {
  .hero {
    &-statement {
      margin-bottom: calc(10 * #{$hero-underline--height});
    }

    &-about {
      width: $hero-about--width__desktop;
      margin-bottom: calc(10 * #{$hero-underline--height});
    }
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0.5;
    transform: translateX(-20rem);
    width: 0;
  }

  50% {
    width: 20%;
    transform: translateX(-5rem);
  }

  80% {
    transform: translateX(5rem);
    width: 60%;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    width: 50%;
  }
}
