// HeroScrollable (core/sections/_hero-scrollable.scss) -----------------------------
$hero-underline--height: 1rem;
$hero-underline--width--right-position: 30%;
$hero-underline-statement--width__mobile: 50%;
$hero-underline-about--width__mobile: 60%;
$hero-statement--width__tablet: 50%;
$hero-statement--width__mobile: auto;
$hero-about--width__desktop: 85%;
$hero-about--width__tablet: 75%;
$hero-about--width__mobile: auto;
$hero-about--margin__tablet: 10vh auto 7rem 2rem;
$hero-about--margin__mobile: 10vh 2rem 10rem 2rem;
$hero-arrow--right-position__table: 5rem;
$hero-arrow--right-position__desktop: 3rem;
