// HeroScrollable (core/sections/_hero-scrollable.scss) -----------------------------
$hero-underline--height: 1rem;
$hero-underline--width--right-position: 30%;
$hero-underline-statement--width__mobile: 50%;
$hero-underline-about--width__mobile: 60%;

$hero-statement--width__tablet: 50%;
$hero-statement--width__mobile: auto;

$hero-about--padding-bottom: 18vh;

$hero-about--width__desktop: 85%;
$hero-about--width__tablet: 75%;
$hero-about--width__mobile: auto;
